body{
    background:#f1f3f6;
    font-family:Arial,sans-serif;
    margin:0;
    padding:30px;
}

h1{
    color:#1f2d3d;
}

.cards{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:250px;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.card h2{
    color:#2f60ff;
    font-size:60px;
}

.card p{
    font-size:20px;
}
